<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
 <xacro:macro name="dhand_gazebo_v0">
	<gazebo reference="dhand_base_link">
	  <selfCollide>true</selfCollide>
	  <material>Gazebo/Blue</material>
      <mu1 value="0.8" />
      <mu2 value="0.8" />
    </gazebo>
  </xacro:macro>
  
</robot>
